.row.justify-content-center
  .col-6
    .jumbotron.users__profile
      .row.border-bottom.border-secondary
        .col
          %h1.users__profile-username
            = @user.username
        = render('mini_blog/follow_unfollow_button', user: @user)
      .row.mt-4.border-bottom.border-secondary
        .col
          %dl
            %dt Profile:
            %dd.users__profile-profile
              %p.lead
                = @user.profile
            %dt Blog:
            %dd.users__profile-blog_url
              = link_to(@user.blog_url, @user.blog_url)
      .row.mt-2
        .col
          %ul.list-inline
            %li.list-inline-item.badge.badge-pill.badge-info
              %span.users__following-count
                = @user.following.count
              %span.users__following
                = t('.following')
            %li.list-inline-item.badge.badge-pill.badge-info
              %span.users__followers-count
                = @user.followers.count
              %span.users__followers
                = t('.followers')
