= t('.favorite_ranking', period: l(@date))
  
- @favorite_counts.each.with_index(1) do |blog_and_count, rank|
  - blog, fav_count = blog_and_count
  \--------------------------------------------------------------------------------
  #{t('.rank', rank: rank)} - #{t('.favorite', count: fav_count)}
  = blog.user.username
  = blog.content
  \--------------------------------------------------------------------------------
