= form_with(model: @blog, id: 'new_blog') do |f|
  .form-row
    .col
      = f.text_area(:content,
          class: 'form-control',
          rows: 3,
          autofocus: true,
          placeholder: t('placeholder.post'))
      = invalid_feedback_tag(@blog, :content)
  .form-row.mt-2
    .col-10
      = f.file_field(:image)
      = invalid_feedback_tag(@blog, :image)
    .col
      = f.submit(t('helpers.submit.post'), class: 'btn btn-primary btn-block')
