.row
  %aside.col-4
    - if current_user
      = form_for(@blog) do |f|
        .form-row
          .col-10
            = f.text_area(:content, class: 'form-control', rows: 3)
            = invalid_feedback_tag(@blog, :content)
          .col.mt-5
            = f.submit(t('.post'), class: 'btn btn-primary btn-block')
    - else
      .alert.alert-info= t('.need_login_to_post')
  %section.col-8
    %ol#blogs.list-group
      - @blogs.each do |blog|
        %li{id: "blog-#{blog.id}", class: 'blogs__blog list-group-item'}
          .row.blogs__blog-header
            .col-10
              = link_to(blog.user.username, user_path(blog.user), class: 'blogs__blog-username')
            .col-2
              - if @following_ids && blog.user_id != current_user.id
                - if @following_ids.include?(blog.user_id)
                  = form_with(url: unfollow_user_path) do |f|
                    = f.hidden_field(:id, value: blog.user_id, id: nil)
                    = f.submit(t('.unfollow'), class: 'btn btn-outline-primary btn-sm')
                - else
                  = form_with(url: follow_user_path) do |f|
                    = f.hidden_field(:id, value: blog.user_id, id: nil)
                    = f.submit(t('.follow'), class: 'btn btn-primary btn-sm')
          .row
            .col
              %span.blogs__blog-content= blog.content
          .row
            .col
              %span.blogs__blog-timestamp= l(blog.created_at, format: :long)
