.row.justify-content-center.mb-3
  %aside.col-5.form__blog
    - if current_user
      = render('mini_blog/blog_form')
    - else
      .alert.alert-info
        = t('.need_login_to_post_html',
            login_link:  link_to(t('devise.shared.links.sign_in'), user_session_path),
            signup_link: link_to(t('devise.shared.links.sign_up'), new_user_registration_path))
.row.justify-content-center.mb-3
  %nav.col-5
    %ul.nav.nav-tabs
      %li.nav-item
        = nav_link_to(t('link.root'), root_path)
      - if current_user
        %li.nav-item
          = nav_link_to(t('link.timeline'), timeline_current_user_path)
.row.justify-content-center
  %section.col-5
    %ol#blogs.list-unstyled
      = render(partial: 'mini_blog/blog', collection: @blogs,
                                    locals: { liked_count: UserFavoriteBlog.group(:blog_id).count })
