!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.sticky-top.navbar-expand.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} MiniBlog
      .collapse.navbar-collapse
        .navbar-nav.mr-auto
        %ul.navbar-nav
          - if current_user
            %li.navbar-item
              =link_to(t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link')
          - else
            %li.navbar-item
              =link_to(t('devise.shared.links.sign_in'), user_session_path, class: 'nav-link')
            %li.navbar-item
              =link_to(t('devise.shared.links.sign_up'), new_user_registration_path, class: 'nav-link')
    .container-fluid
      = yield
      %hr/
      %footer.text-right.text-monospace.text-muted
        %small
          MiniBlog Copyright © #{Time.current.year} hana-da
